<section class='hero'>
  <div class='columns'>
    <div class='column is-1'>
      <a><img src='../../image/RecipeBox.jpg' width='250' /></a>
    </div>
    <div class='column has-text-centered'>
      <p class='title is-centered'>
        Recipe Finder
      </p>
      <p class='subtitle'>
        Recipe Box for your Favorite Recipes
      </p>
    </div>

    <div class='is-right'>
      {{#if logged_in}}
        {{! <a class='navbar-item' href='/homepage'>home</a>
            | }}
        <a class='button' id='logout' href='/logout'>logout</a>
      {{else}}
        <a href='/login'>login</a>
      {{/if}}
    </div>
  </div>
</section>