<div class='meal-details'>
  <!--Button to close the recipe-->
  <button type='button' class='btn recipe-close-btn' id='recipe-close-btn'>
    <i class='fas fa-times'></i>
  </button>

  <div class='meal-details-content'>
    <!--Meal content goes here-->
  </div>
</div>