          <div class="meal-search-box">
            <input
              type="text"
              class="search-control input is-primary"
              placeholder="Please enter ingredient"
              id="search-input"
            />
            <button
              onclick="storeLastSearched()"
              type="submit"
              class="search-btn btn button is-primary"
              id="search-btn"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>